<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="d-grid gap-2 col-11 mx-auto" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group" style="height: 190px">
            <button type="button" class="btn btn-primary fs-1" >ESTJ</button>
            <button type="button" class="btn btn-primary fs-1">ESTP</button>
            <button type="button" class="btn btn-primary fs-1">ESFJ</button>
            <button type="button" class="btn btn-primary fs-1">ESFP</button>
        </div>
    </div>
    <div class="d-grid gap-2 col-11 mx-auto" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group" style="height: 190px">
            <button type="button" class="btn btn-success fs-1">ENTJ</button>
            <button type="button" class="btn btn-success fs-1">ENTP</button>
            <button type="button" class="btn btn-success fs-1">ENFJ</button>
            <button type="button" class="btn btn-success fs-1">ENFP</button>
        </div>
    </div>
    <div class="d-grid gap-2 col-11 mx-auto" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group" style="height: 190px">
            <button type="button" class="btn btn-danger fs-1">ISTJ</button>
            <button type="button" class="btn btn-danger fs-1">ISTP</button>
            <button type="button" class="btn btn-danger fs-1">ISFJ</button>
            <button type="button" class="btn btn-danger fs-1">ISFP</button>
        </div>
    </div>
    <div class="d-grid gap-2 col-11 mx-auto" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group" style="height: 190px">
            <button type="button" class="btn btn-warning fs-1">INTJ</button>
            <button type="button" class="btn btn-warning fs-1">INTP</button>
            <button type="button" class="btn btn-warning fs-1">INFJ</button>
            <button type="button" class="btn btn-warning fs-1">INFP</button>
        </div>
    </div>
</body>
</html>